/*------  R E S P O N S I V E    L A Y O U T ------*/
/* 
  Must give the parent `display: flex; flex-wrap: wrap;`
  this mixin will make cards width responsive and dynamic
  !Important: give cards max-width if needed
*/
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-icon-hover__effect {
  transition: color 0.3s ease-in-out;
  color: inherit;
  display: block;
}
.text-icon-hover__effect svg path {
  transition: fill 0.3s ease-in-out;
}
.text-icon-hover__effect:hover {
  color: #d4550c;
}
.text-icon-hover__effect:hover svg path {
  fill: #d4550c;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.b {
  border: 1px solid #FAD9A7;
}

.b-t {
  border-top: 1px solid #FAD9A7;
}

.b-b {
  border-bottom: 1px solid #FAD9A7;
}

.b-l {
  border-left: 1px solid #FAD9A7;
}

.b-r {
  border-right: 1px solid #FAD9A7;
}

.mx-h-unset {
  max-height: unset;
}

.mx-h-0 {
  max-height: 0;
}

.discounted {
  text-decoration: line-through;
  color: grey;
}

.hidden {
  display: none;
}

.none {
  display: none;
}

.button-disabled {
  pointer-events: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  color: #000000;
  text-decoration: none;
  background: none;
  outline: none;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1800px;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

table,
th,
td {
  border-collapse: initial;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: unset;
  border: none;
}

a, button {
  cursor: pointer;
}

p, a, button {
  font-family: "Itim", cursive;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-family: "Lilita One", cursive;
}

.bodytext {
  font-size: 1rem;
  line-height: 1.625;
}

.bodytext--sm {
  font-size: 0.875rem;
  line-height: 1.42857;
}

.bodytext--md {
  font-size: 1.125rem;
  line-height: 1.44444;
}

.bodytext--lg {
  font-size: 1.25rem;
  line-height: 1.3;
}

.bodytext--xl {
  font-size: 1.5rem;
  line-height: 1.08333;
}

h1, .header--xl {
  font-size: 2.5rem;
  line-height: 1;
}

h2 {
  font-size: 2rem;
  line-height: 1.125;
}

.header--xxl {
  font-size: 3rem;
  line-height: 1;
}

/* I M P O R T E D   O N   E V E R Y   S C S S   F I L E */
/*------  R E S P O N S I V E    L A Y O U T ------*/
/* 
  Must give the parent `display: flex; flex-wrap: wrap;`
  this mixin will make cards width responsive and dynamic
  !Important: give cards max-width if needed
*/
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-icon-hover__effect {
  transition: color 0.3s ease-in-out;
  color: inherit;
  display: block;
}
.text-icon-hover__effect svg path {
  transition: fill 0.3s ease-in-out;
}
.text-icon-hover__effect:hover {
  color: #d4550c;
}
.text-icon-hover__effect:hover svg path {
  fill: #d4550c;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.b {
  border: 1px solid #FAD9A7;
}

.b-t {
  border-top: 1px solid #FAD9A7;
}

.b-b {
  border-bottom: 1px solid #FAD9A7;
}

.b-l {
  border-left: 1px solid #FAD9A7;
}

.b-r {
  border-right: 1px solid #FAD9A7;
}

.mx-h-unset {
  max-height: unset;
}

.mx-h-0 {
  max-height: 0;
}

.discounted {
  text-decoration: line-through;
  color: grey;
}

.hidden {
  display: none;
}

.none {
  display: none;
}

.button-disabled {
  pointer-events: none;
}

body {
  position: relative;
}
body .layer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.33);
  width: 100%;
  height: 100%;
  z-index: 1;
}
body header {
  position: relative;
  z-index: 2;
}
body header .free-shipping-header {
  padding: 11px 0px;
  display: flex;
  justify-content: center;
  background-color: #FFB800;
}
body header nav {
  background-color: white;
  border-bottom: 1px solid #DBDBDB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: unset;
  row-gap: unset;
  max-width: 1800px;
}
body header nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  column-gap: unset;
  row-gap: unset;
  padding: 0.6875em 0 1em;
}
body header nav .navbar .search-container .searchbar-wrapper {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: row;
  column-gap: 0.9375em;
  row-gap: unset;
  margin-right: auto;
  margin-left: auto;
}
body header nav .navbar .search-container .searchbar-wrapper .exit-btn, body header nav .navbar .search-container .searchbar-wrapper .search-btn {
  cursor: pointer;
}
body header nav .navbar .search-container .searchbar-wrapper .searchbar {
  border: 1px solid #000;
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: row;
  column-gap: 3.5em;
  row-gap: unset;
  padding-top: 0.6875em;
  padding-right: 0.875em;
  padding-bottom: 0.75em;
  padding-left: 1.25em;
}
body header nav .navbar .search-container .searchbar-wrapper .searchbar input {
  font-family: "Itim", cursive;
}
body header nav .navbar .logo {
  width: 83px;
  height: 72px;
  flex-shrink: 0;
}
body header nav .navbar .icons {
  gap: 12px;
}
body header nav .navbar .icons .icon {
  cursor: pointer;
}
body header nav .navbar .icons .icon:last-of-type {
  margin-left: 9px;
  cursor: pointer;
}
body header nav .navbar .icons .cart-wrapper {
  position: relative;
}
body header nav .navbar .icons .cart-wrapper .badge {
  font-size: 0.625rem;
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #FFB800;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: 52%;
  left: 8%;
}
body header nav .navbar.searching {
  position: relative;
  width: 100%;
  padding-top: 1.25em;
  padding-right: unset;
  padding-bottom: 2.125em;
  padding-left: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 0.9375em;
  row-gap: unset;
}
body header nav .navbar.searching .search-container .searchbar-wrapper {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: row;
  column-gap: 0.9375em;
  row-gap: unset;
  margin-right: auto;
  margin-left: auto;
}
body header nav .navbar.searching .search-container .searchbar-wrapper .exit-btn, body header nav .navbar.searching .search-container .searchbar-wrapper .search-btn {
  cursor: pointer;
}
body header nav .navbar.searching .search-container .searchbar-wrapper .searchbar {
  border: 1px solid #000;
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: row;
  column-gap: 3.5em;
  row-gap: unset;
  padding-top: 0.6875em;
  padding-right: 0.875em;
  padding-bottom: 0.75em;
  padding-left: 1.25em;
}
body header nav .navbar.searching .search-container .searchbar-wrapper .searchbar input {
  font-family: "Itim", cursive;
}
body header nav .navbar.searching .dropdown {
  position: absolute;
  width: 100%;
  background-color: white;
  top: 101%;
  padding-bottom: 30px;
  padding-top: 20px;
}
body header nav .navbar.searching .dropdown .dropdown-wrapper {
  max-width: 23.125em;
  margin-right: auto;
  margin-left: auto;
}
body header nav .navbar.searching .dropdown .dropdown-wrapper .dropdown-header {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 1.8em;
}
body header nav .navbar.searching .dropdown .dropdown-wrapper .dropdown-card {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-direction: row;
  column-gap: 17px;
  row-gap: unset;
}
body header nav .navbar.searching .dropdown .dropdown-wrapper .dropdown-card .product-img-wrapper {
  height: 146px;
  width: fit-content;
}
body header nav .navbar.searching .dropdown .dropdown-wrapper .dropdown-card .product-img-wrapper img {
  height: 100%;
}
body header nav .navbar.searching .dropdown .dropdown-wrapper .dropdown-card .product-desc .product-name h4 {
  font-family: "Itim", cursive;
}
body header nav .navbar.searching .dropdown .dropdown-wrapper .dropdown-card .product-desc .product-name p {
  color: #717171;
}
body header nav .navbar.searching .dropdown .dropdown-wrapper .dropdown-card .product-desc .product-info p {
  display: inline-block;
}