#add-payment-wrapper{
    .add-payment{
        justify-content: flex-start;
        align-items: flex-start;
        h3{
            margin-bottom: 12px;
        }
        .payment-desc{
            margin-bottom: em(40);
            p{
                text-align: start;
                margin-bottom: 0;
                max-width: none;
                
            }
        }

        button{
            border-bottom: 3px solid $primary2;
            @include respond-to(xl){
                width: auto;
            }
        }
    }

    .profile-payment-wrapper{
        max-width: em(580);
        margin: 0 auto;
        @include respond-to(xl){
            margin: unset;
        }
        .add-payment{
            align-items: flex-start;
            .payment-desc-wrapper{
                .header-section{
                    display: flex;
                    align-items: flex-start;
                    gap: em(12);
                    margin-bottom: em(12);
                   .img-wrapper{
                    cursor: pointer;
                    margin: 0;
                    width: em(18.82);
                    height: em(20); 
                    transform: rotate(180deg); 
                   }
                   h3{
                        font-size: root(20);
                        line-height: 1.5;
                        margin: 0;
                        @include respond-to(xl){
                            font-size: root(22);
                            line-height: 145.455%;
                        }
                   } 
                }

                .payment-desc{
                    margin-bottom: 0;
                   p{
                       text-align: start;
                       margin-bottom: 0;
                   } 
                }
            }
        }

        .add-payment-form{
            padding-top: em(60);
            .form-partial-wrapper{
                max-width: none;
                .form-partial{
                    gap: em(20);
                    .card-num-wrapper{
                        .card-input-wrapper{
                            border: 1px solid $gray-200;
                            display: flex;
                            align-items: center;
                            height: 56px;
                            padding: em(10) em(20);
                            .logo{
                                width: em(37);
                                height: em(37);
                            }
                            input{
                                border:none;
                                width: 100%;
                            }
                        }
                    }

                    .card-info-wrapper{
                        flex-direction: row;
                        gap: em(12);                        
                        .expiry-date-wrapper{
                            flex-basis: calc((100% - em(12)) * 0.725);
                        }

                        .security-code-wrapper{
                            flex-basis: calc((100% - em(12)) * 0.275);
                            .cvv-input-wrapper{
                                border: 1px solid $gray-200;
                                display: flex;
                                align-items: center;
                                height: 56px;
                                padding: em(10) em(5);
                                .help{
                                    width: em(24);
                                    height: em(24);
                                    cursor: pointer;
                                }
                                input{
                                    border:none;
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .form-buttons-wrapper{
                        margin-top: em(25);
                        button{
                            border: none;
                            padding: em(10,18) em(26,18);
                            border-bottom: 3px solid $primary2;
                            @include respond-to(xl){
                                width: auto;
                                margin-left: auto;
                            }
                        }
                    }

                }
            }
        }
    }
}