#forgot-password{
    margin-bottom: em(94);
    @include respond-to(lg){
        margin-bottom: em(184);
    }
    .forgot-password-wrapper{
        .forgot-password-form{
            .email-wrapper{
                margin-bottom: em(46);
            }
            .form-buttons-wrapper{
                .send-btn{
                    border-bottom: 3px solid $primary2; 
                }
            }
        }
    }
}