#reset-password{
    margin-bottom: em(94);
    @include respond-to(lg){
        margin-bottom: em(187);
    }
    .reset-password-wrapper{
        .reset-password-form{
            .new-password-wrapper{
                margin-bottom: em(20);
            }
            .form-buttons-wrapper{
                button{
                    border-bottom: 3px solid $primary2; 
                }

            }
        }
    }
}