main{
    .hero{
        background-image: url(../../assets/hero-bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        .hero-wrapper{
            @include flex(center,center,column,unset,em(12));
            padding: em(130) 0 em(100);
            h1{
                color: white;
                padding: em(43.5,40) 0; 
                text-align: center;
            }
            .hero-desc{
                color: white;
                text-align: center;
            }
        }
    }

    .new-arrivals{
        max-width: em(367);
        padding-top: em(67.3);
        h2{
            position: relative;
            padding-bottom: em(20,32);
            &::after{
                content: '';
                position: absolute;
                width: 206px;
                height: 9px;
                background-image: url(../../assets/Vector.svg);
                background-size: cover;
                background-repeat: no-repeat;
                flex-shrink: 0;
                top: 85%;
                right: 45%;
            }
        }

        .product-card{
            border: 1px solid #FAD9A7;
            margin-top: em(65);
            .product-desc{
                padding: em(16) em(20);
                @include flex(unset,unset,column,unset,em(12));
                .product-name{
                    p{
                        color: $gray-primary;
                    }
                }
                .product-info{
                    @include flex(space-between,center);
                    .product-weight{
                        color: $gray-primary;
                    }
                }
                .product-reviews{
                    @include flex(space-between,center);
                    .product-ratings{
                        display:flex;
                    }

                    .product-like-wrapper{
                        .product-like-img{
                            width: 50px;
                            height: 50px;
                            padding: 8.73px 9.524px 9.524px 8.73px;
                            background-color: $gray-secondary;
                            border-radius: 50%;                         
                        }
                    }
                }

                .quick-add{
                    button{
                        border-bottom: 5px solid $primary2;
                        width:100%
                    }
                }
            }
        }
    }
}
