#bread-crumb {
    background-color: black;
    .bread-crumb-contianer{
        display: flex;
        align-items: center;
        padding: em(15) 0;
        .bread-crumb-arrow{
            width: em(24);
            height: em(24);
        }
        a:last-of-type{
            p{
                color: $primary;
            }
        }
       p{
        color: white;
       }
    }
}
