body{
    position: relative;

    .layer{
        position: absolute;
        background-color: $bg-layer;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
    header{
        .btn{
            padding: 10px 26px;
        }
        position: relative;
        z-index: 2;
     .free-shipping-header{
        padding: 11px 0px; 
        display: flex;
        justify-content: center;
        background-color: $primary;
        h3{
            font-family: Itim;
        }
     }
     
     nav{
        background-color: white;
        border-bottom: $border-secondary;        
        @include flex(center,center);
        .navbar{
            @include respond-to(xxl){
                display: none;
            }
            @include flex(space-between,center);
            padding: em(11) 0 1em;
            .search-container{
                .searchbar-wrapper{
                    @include flex(unset, center, row,em(15));
                    @include margin-auto();
                    .exit-search-btn,.search-btn{
                        cursor: pointer;
                    }
                   .searchbar{
                       border: $border-primary;
                       @include flex(unset, center, row, em(56));
                       @include padding(em(11), em(14), em(12), em(20));
                       input{
                           font-family: 'Itim', cursive;
                       }
                   }
               }
    
            }

    
            
    
            .logo{
                width: 83px;
                height: 72px;
                flex-shrink: 0;
            }
            .icons{
                gap: 12px;
                .icon{
                    cursor: pointer;
                }
                .icon:last-of-type{
                    margin-left: 9px;
                    cursor: pointer;
                }
            
    
                .cart-wrapper{
                    position: relative;
                    .badge{
                        font-size: root(10);
                        position: absolute;
                        width: 13px;
                        height: 13px;
                        background-color: $primary;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center; 
                        border-radius: 50%;
                        top: 52%;
                        left: 8%;
                    }
                }
            }
        }
    
        .navbar.searching{
            position: relative;
            width: 100%;
            @include padding(em(20),unset,em(34),unset);
            @include flex(center,center,row,em(15));        
            .search-container{
                .searchbar-wrapper{
                    @include flex(unset, center, row,em(15));
                    @include margin-auto();
                    .exit-search-btn,.search-btn{
                        cursor: pointer;
                    }
                   .searchbar{
                       border: $border-primary;
                       @include flex(unset, center, row, em(56));
                       @include padding(em(11), em(14), em(12), em(20));
                       input{
                           font-family: 'Itim', cursive;
                       }
                   }
               }
    
            }
    
            .dropdown{
                position: absolute;
                width: 100%;
                background-color: white;
                top: 101%;
                padding-bottom: 30px;
                padding-top: 20px;
                .dropdown-wrapper{
                    max-width: em(370);
                    @include margin-auto();
                    .dropdown-header{
                        font-size:$card-font-size-md;
                        line-height: 1.5;
                        margin-bottom: em(36,20);
                    }
                    .dropdown-card{
                        @include flex(unset,center,row,17px);
                        .product-img-wrapper{
                            height: 146px;
                            width: fit-content;
                            img{
                                height: 100%;
                            }
                        }
        
                        .product-desc{
                            .product-name{
                                h4{
                                    font-family: 'Itim', cursive;
                                }
                                p{
                                    color:$gray-primary;
                                }
                            }
                            .product-info{
                                p{
                                    display: inline-block;
                                }
                            }
                        }
        
                    }
                }
            }
    
            
        }

        .navbar.browsing{
            width: 100%;
            padding-bottom: em(26);
            @include flex(center,center);
            position: relative;
            .browsing-wrapper{
                width: 85%;
                @include flex(space-between,center)
            }
            
            .menu{
                    position: absolute;
                    background-color: white;
                    width: 100%;
                    top: 101%;
                    .menu-wrapper{
                        @include padding (em(29), unset,em(26),unset);
                        width: 85%;
                        margin: 0 auto;
                        h2{
                            line-height: 1.5;
                            margin-bottom: em(11);
                        }
                        
                        .nav-links{
                            li{
                                padding: em(10) 0;
                                a{
                                    width: 100%;
                                    display: block;
                                    position: relative;
                                    &::after{
                                        content: "";
                                        position: absolute;
                                        top: 50%;
                                        left: 95%;
                                        transform: translateY(-50%);
                                        width: 24px;
                                        height: 24px;
                                        background-image: url('../../assets/chevron-right.svg');
                                        background-size: cover;
                                        background-color: white;                                
                                    }
                                }
                            }
                        }
                        
                    }

                    .seperator{
                        height: 1px;
                        background-color: #DBDBDB;
                    }
                    .create-acc{
                        padding: em(21) 0 em(34);
                        width: 85%;
                        margin: 0 auto;
                        h2{
                            font-size: root(22);
                            line-height: 1.45455;
                        }
                        p{
                            color:$gray-primary;
                        }
                        .create-btn-wrapper{
                            margin-top: em(24);
                            @include flex(space-between,center);
                            .create-btn{
                                position: relative;
                                border: 1px solid #131313;
                                border-bottom: 4px solid #131313;
                            }
                        }
                    }
                }
            
        }


        .navbar-desktop{
            position: relative;
            max-width: 1750px;
            padding: em(18) 0 em(26);
            h3{
                font-size: $card-font-size-md;
                line-height: 1.25;
            }
            @include respond-to(xxl){
                @include flex(space-between,center,row);
            }
            .search-wrapper{
                @include flex(unset,center,row,em(12));
                .icon{
                    cursor: pointer;
                    width: em(32);
                    height: em(32);
                    padding: em(4);
                }

            }

            .menu-links{
                .menu-wrapper{
                    .nav-links{
                        @include flex(center,center,row,em(57))
                    }
                }
            }



            .desktop-search-container{
                flex-basis: 50%;
                .searchbar-wrapper{
                    @include flex(unset, center, row,em(15));
                    @include margin-auto();
                    .desktop-exit-search,.search-btn{
                        cursor: pointer;
                    }
                   .searchbar{
                    position: relative;
                    flex-basis: calc(100% - em(15));
                    border: $border-primary;
                    @include flex(space-between, center, row, em(56));
                    @include padding(em(11), em(14), em(12), em(20));
                       input{
                           font-family: 'Itim', cursive;
                        }

                       .search-btn-wrapper{
                            width: em(32);
                            height: em(32);
                            padding: em(4);
                        }

                        .desktop-dropdown{
                            border-bottom: $border-secondary;
                            border-right: $border-secondary;
                            border-left: $border-secondary;
                               position: absolute;
                               width: 100%;
                               background-color: white;
                               top: 102%;
                               left: 0%;
                               padding-bottom: 30px;
                               padding-top: 20px;
                               .dropdown-wrapper{
                                   .dropdown-header{
                                       font-size:$card-font-size-md;
                                       line-height: 1.5;
                                       margin-bottom: em(33,20);
                                   }
                                   .card-grid{
                                        display: flex;
                                        justify-content: flex-start;
                                       .dropdown-card{
                                            flex-basis: calc( 100% / 3);
                                           @include flex(space-between,center,column,17px);
                                           .product-img-wrapper{
                                                // min-width: 200px;
                                                width: 100%;
                                           }
                           
                                           .product-desc{
                                               .product-name{
                                                   h4{
                                                       font-family: 'Itim', cursive;
                                                   }
                                                   p{
                                                       color:$gray-primary;
                                                   }
                                               }
                                               .product-info{
                                                   p{
                                                       display: inline-block;
                                                   }
                                               }

                                               .product-reviews{
                                                .product-ratings{
                                                    width: em(128);
                                                    height: em(29);
                                                }
                                               }
                                           }
                           
                                       }
                                   }
                               }
                           }

                    
                    }    

                   .desktop-exit-search{
                        width: em(32);
                        height: em(32);
                   }
               }
               

            }
    
    
            
            .cart-login{
                @include flex(center,center,row,em(43));
                .desktop-login{
                    cursor: pointer;
                }
                .cart-wrapper{
                    position: relative;
                    .badge{
                        font-size: root(10);
                        position: absolute;
                        width: 13px;
                        height: 13px;
                        background-color: $primary;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center; 
                        border-radius: 50%;
                        top: 52%;
                        left: 8%;
                    }
                }
            }
            
            .desktop-menu{
                position: absolute;
                top: 60%;
                background: white;
                right: 3%;
                border: $border-secondary;
                .create-acc{
                    border-bottom: $border-secondary;
                    .header-wrapper{
                        border-bottom: $border-secondary;
                        padding: em(35) em(121) em(23) em(32);
                        h2{
                            font-size: root(22);
                            line-height: 1.45455;
                        }
                        p{
                            color:$gray-primary;
                        }
                    }

                    .create-btn-wrapper{
                        padding: em(18) em(31) em(23);
                        @include flex(space,center,row,em(12));
                        .create-btn{
                            position: relative;
                            border: 1px solid #131313;
                            border-bottom: 4px solid #131313;
                        }
                        .create-btn,.login-btn{
                            flex-basis: calc((100% - 12px) /2);
                        }
                    }
                }

                .menu-wrapper{
                    .nav-links{
                        li{
                            border-bottom: $border-secondary;
                            @include flex(unset,center,row,em(23));
                            padding: em(18) em(97) em(16) em(30);
                            .order{
                                width: em(51);
                                height: em(51);
                            }
                            .link{
                                h3{
                                    font-size: root(22);
                                    line-height: 1.45455;
                                }
                                p{
                                    color:$gray-primary;
                                }
                            }


                            .icon-wrapper{
                                width: 50px;
                                height: 50px;
                                padding: em(8.73) em(9.524) em(9.524) em(8.73);
                                background-color: $gray-secondary;
                                border-radius: 50%;
                                cursor: pointer;       
                            }
                        }
                    }
                }
            }

        }
     }
     
    }
}
