.receipt{
    position: absolute;
    background-color: white;
    width: em(368);
    z-index: 4;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    @include respond-to(xl){
        width: em(600);
    }
    .receipt-wrapper{
        padding: em(24) 0 em(37);
        .header-section{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: em(30);
            h2{
                font-size: root(30);
                line-height:133.333%;
                margin-bottom: 0;
            }
            .order-no{
                display: flex;
                flex-direction: column;
                @include flex(unset,unset,column);
                @include respond-to(xl){
                    flex-direction: row;
                    gap: em(21);
                }
                p{
                    color: $gray-400;
                }
                h3{
                    font-size: root(22);
                    line-height: 145.455%;
                    color: $primary3;
                }
            }
        }

        .order-thanks{
            padding-bottom: em(35);
            @include respond-to(xl){
                padding-bottom: em(41);
            }
            border-bottom: 1px solid $gray-100;
        }
        
        
        .order-info-wrapper{
            padding: em(10) 0;
            margin-bottom: em(38);
            border-bottom: 1px solid $gray-100;
            @include flex(unset,unset,column);
            @include respond-to(xl){
                 flex-direction: row;
                 justify-content: space-between;
                 padding: em(30) 0;
            }
            .order-info{
                display: flex;
                flex-direction: column;
                gap: em(7);
                .info-header{
                    color: $gray-400;
                }
                .info-value{
                    color: $gray-700;
                }
            }

            .shipping-address{
                max-width: em(228);
                .info-value{
                    p{
                        color: $gray-700;
                    }
                }
            }
        }


        .purchased-products-wrapper{
            @include flex(unset,unset,column,unset,em(21));
            .purchased-product{
                @include flex(unset,center,row,em(19));
                padding: em(7) 0 em(14);
                border-bottom: 1px solid $gray-100;
                @include respond-to(xl){
                    padding: em(15) 0;
                }
                .img-wrapper{
                    width: em(70);
                    height: em(70);
                    @include respond-to(xl){
                        width: em(95);
                        height: em(95);
                    }
                }
                .product-info-wrapper{
                    @include flex(space-between,baseline);
                    width: 100%;
                    .product-price{
                        @include respond-to(xl){
                            font-size: root(20);
                            line-height: 1.3;
                        }
                    }
    
                    .product-desc{
                        .size{
                            text-transform: uppercase;
                            @include respond-to(xl){
                                font-size: root(20);
                                line-height: 1.3;
                            }
                        }
                        .name{
                            color: $gray-400;
                            @include respond-to(xl){
                                font-size: root(18);
                                line-height: 144.444%;
                            }
                        }
                        .product-spec{
                            @include flex(unset,unset,row,em(45));
                            @include respond-to(xl){
                                gap: em(35);
                            }
                            p{
                                color: $gray-400;
                                @include respond-to(xl){
                                    font-size: root(18);
                                    line-height: 144.444%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .price-breakdown-wrapper{
            padding: em(47) 0 em(10);
            @include flex(unset,unset,column,em(10));
            @include respond-to(xl){
                padding-top: em(36);
            }
            border-bottom: 1px solid $gray-100;
            .price-element{
                display: flex;
                justify-content: space-between;
                .desc{
                    color: $gray-400;
                }
            }
            .discount{
               .value{
                color: #0DAA26;
               } 
            }
        }

        .total-price{
            padding-top: em(10);
            @include flex(space-between,unset,row);
            h3{
                font-size: root(30);
                line-height: 133.333%;
            }
        }
    }
}