html,body{
    box-sizing: border-box;
    width: 100vw;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    color: #000000;
    text-decoration: none;
    background: none;
    outline: none;
}



.container{
    width: 90%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.hidden{
    display: none;
}

img,picture,svg, video{
    display: block;
    width: 100%;
    height: 100%;
}

input, textarea,button,select{
    font: inherit;
}

table,
th,
td {
    border-collapse: initial;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: unset;
    border: none;
}

a,button{
    cursor: pointer;
}

.btn{
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary{
    background-color: $primary !important;
}

